<%- include("layout/header.ejs") -%>
    <div class="box" id="heading">
        <h1>
            <%= listTitle %>
        </h1>
    </div>
    <div class="box">
        <% itemList.forEach((element)=>{ %>
            <form action="/delete" method="POST">
                 <div class="item">
                    <input id="checked" type="checkbox" name="delItem" onchange="this.form.submit()" value="<%=element.id%>">
                    <p class="note">
                        <%= element.note %>
                    </p>
                </div>
                <input type="hidden" name="listName" value="<%= listTitle %>">
            </form>
            <% }) %>

                <form action="/" method="post" class="InsertItemForm">
                    <label for="listItem"></label>
                    <input type="text" name="newItem" id="listItem" placeholder="New Item" required autocomplete="off">
                    <button style="cursor:pointer;" type="submit" name="list" value="<%= listTitle %>">+</button>
                </form>
    </div>

    <%- include('layout/footer.ejs') -%>